# typed: false
# frozen_string_literal: true

class Wash < Formula
  desc "WAsmcloud SHell - a comprehensive command-line tool for wasmCloud development"
  homepage "https://wasmcloud.com/"
  license "Apache-2.0"

  on_macos do
    on_intel do
      url "${BASE_URL}/wash-x86_64-apple-darwin"
      sha256 "${SHA_X86_64_APPLE_DARWIN}"

      define_method(:install) do
        bin.install "wash-x86_64-apple-darwin" => "wash"
      end
    end
    on_arm do
      url "${BASE_URL}/wash-aarch64-apple-darwin"
      sha256 "${SHA_AARCH64_APPLE_DARWIN}"

      define_method(:install) do
        bin.install "wash-aarch64-apple-darwin" => "wash"
      end
    end
  end

  on_linux do
    on_intel do
      if Hardware::CPU.is_64_bit?
        url "${BASE_URL}/wash-x86_64-unknown-linux-musl"
        sha256 "${SHA_X86_64_UNKNOWN_LINUX_MUSL}"

        define_method(:install) do
          bin.install "wash-x86_64-unknown-linux-musl" => "wash"
        end
      end
    end
    on_arm do
      if Hardware::CPU.is_64_bit?
        url "${BASE_URL}/wash-aarch64-unknown-linux-musl"
        sha256 "${SHA_AARCH64_UNKNOWN_LINUX_MUSL}"

        define_method(:install) do
          bin.install "wash-aarch64-unknown-linux-musl" => "wash"
        end
      end
    end
  end

  test do
    system "#{bin}/wash", "-V"
  end
end
